@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;  /* Dark Grey Text */
  background-color: #ffffff; /* White Background */
  font-family: 'Georgia', serif; /* Classic font */
  line-height: 1.6; /* Improved readability */
}


.product-name, /* directly targeting product name */
h1, h2, h3, h4, h5, h6 { /* targeting all headers, assuming product name could be any of these */
  color: #333;  /* Dark Grey Text */
}

/* Make sure inputs and buttons are more touch-friendly on mobile */
input, button {
  padding: 12px;
  font-size: 16px;
}

/* A little spacing between paragraphs for better readability */
p {
  margin-bottom: 1rem;
}

/* If you want to set a max-width for readability on larger devices */
.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* To ensure padding on the edges so content doesn't touch the edge */
body {
  padding-left: 15px;
  padding-right: 15px;
}

/* You can add any other styles that you see fit to enhance the look and feel */
